.board {
	display: grid;
	width: 310px;
	height: 310px;
	background-color: lightgray;
	grid-template-columns: auto auto;
}
.square {
	height: 150px;
	width: 150px;
	justify-self: center;
}
.green {
	background-color: green;
}
.red {
	background-color: #e01000;
}
.yellow {
	background-color: yellow;
}
.blue {
	background-color: blue;
}
.scoreboard {
	background-color: lightgray;
	height: 25px;
}
.restart {
	height: 50px;
	width 50px;
	text-align: center;
	display: none;
}

/*found some code for the animations on w3docs article called
"How to Create Flashing/Glowing Button Using Animations in CSS3"
 */
.flash0 {
	animation: gflash 750ms 1;
}
@keyframes gflash {
	0% {
		background-color: green;
		box-shadow: 0 0 3px green;
	}
	50% {
		background-color: #60de02;
		box-shadow: 0 0 10px #60de02;
	}
	100% {
		background-color: green;
		box-shadow: 0 0 3px green;
	}
}
.flash1 {
	animation: rflash 750ms 1;
}
@keyframes rflash {
	0% {
		background-color: #e01000;
		box-shadow: 0 0 3px #e01000;
	}
	50% {
		background-color: #f56149;
		box-shadow: 0 0 10px #f56149;
	}
	100% {
		background-color: #e01000;
		box-shadow: 0 0 3px #e01000;
	}
}
.flash2 {
	animation: yflash 750ms 1;
}
@keyframes yflash {
	0% {
		background-color: yellow;
		box-shadow: 0 0 3px yellow;
	}
	50% {
		background-color: #f9ffc9;
		box-shadow: 0 0 10px #f9ffc9;
	}
	100% {
		background-color: yellow;
		box-shadow: 0 0 3px yellow;
	}
}
.flash3 {
	animation: bflash 750ms 1;
}
@keyframes bflash {
	0% {
		background-color: blue;
		box-shadow: 0 0 3px blue;
	}
	50% {
		background-color: #126fe0;
		box-shadow: 0 0 10px #126fe0;
	}
	100% {
		background-color: blue;
		box-shadow: 0 0 3px blue;
	}
}

/*got this code from w3schools*/
.modal {
	display: none; /* Hidden by default*/
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}
.play {
	color: red;
	font-size: 28px;
	font-weight: bold;
}
