.board {
	display: grid;
	width: 310px;
	height: 310px;
	background-color: lightgray;
	grid-template-columns: auto auto;
}
.square {
	height: 150px;
	width: 150px;
	justify-self: center;
}
.green {
	background-color: green;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.blue {
	background-color: blue;
}
